.el-card {
  span {
    + button {
      margin-left: 1em;
    }
  }
  .el-card__body {
    p {
      padding: 0;
      margin: 0;
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      background-color: #D3DCE6;
      padding: 1em 0;
      &:nth-of-type(odd) {
        background-color: #EFF2F7;
      }
    }
    .item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }
    .item-footer {
      .is-success {
        color: #13CE66;
      }
      .is-error {
        color: #FF4949;
      }
    }
  }
}